
<div class="main-container">

    <div class="artistStatement">
        <h1>{{artistStatementTitle}}</h1>
        <div id="paragraph1">Art has always been a therapeutic coping method for me to deal with depression and anxiety, it helps relax my mind. The process of creating and forcing myself to produce gives me a feeling of self-worth. I enjoy multiple mediums, but I gravitate more towards three-dimensional art forms. I enjoy the different processes that one must engage with in order to reach a final product. I like making things that I am proud of and I want to learn new methods to push myself further. I really love when a piece can consume all my focus and I lose track of everything else except for what is right in front of me.</div>
            <br>
        <div id="paragraph2"> I am inspired by nature and anatomy, I gain inspiration from the shapes and textures of different body parts. I am very interested in surreal art, taking forms and altering them in ways that are often illogical. I like the idea of creating something that no one else has made before. Play is a driving force in the creative process. Form, texture, and color application are my favorite things to alter in my work. I often like to adjust these techniques to make work that feels anatomical.</div>
            <br>
        <div id="paragraph3">are a few recurring themes in my work. I like to focus on self-improvement in many of my pieces, choosing an aspect of my being that I am not necessarily happy with and emphasizing it as a method of self-reflection and acceptance. I also like to focus on interaction and relationships, and have shown this between forms as well as between human or animal subjects. I would like to evoke a feeling of internal reflection in my work. Hopefully the viewer considers how they interact with other beings and what kind of impact or impression they leave behind.</div> 
        
    </div>

</div>
