@import '../../../main-styles.scss';

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $green;
    overflow: hidden;

.top-bar {
    width: 100%;
    height: 68px;
    background: linear-gradient(to right, $olive, $brown);
    box-shadow: 0px 0px 10px 0px rgba(black, 0.15);
    display: flex;
    flex-shrink: 0; //prevents top bar from shrinking
    justify-content: center;
    align-items: center;

    h1{
        color: white;
        font-size: 30px;
        font-style: bold;
        }
}
    .navbar {
        background: $mint;
        flex-shrink: 0;
    }

    .page-content {
        flex-grow: 1;
        overflow-y: scroll;
    }
}



