@import '../../../main-styles.scss';

.glassblowing {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-style: bold;
    color: white;

    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 40px;
    }
}