//changing bulma variables and adding global styles

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$green: #93b7be;
$mint: #f1fffa;
$tan: #d5c7bc;
$brown: #785964;
$olive: #454545;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $green;
$link: $mint;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $green;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


